body {
    width: 99vw;
    height: 99vh;
    max-width: 100%;
    max-height: 100%;
    padding: 0vw;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    margin: 0px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 50%;
    height: 5vh;
    padding: 0vw;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    margin: 1% 25%;
    display: flex;
	align-items: center;
    justify-content: center;
	font-weight: bold;
	font-size: 2vh;
}

.main {
    width: 90vw;
    height: 75vh;
    padding: 0vw;
    border-width: 5px;
    border-style: solid;
    border-color: purple;
    margin: 0vw auto;
    display: flex;
	align-items: flex-start;
    justify-content: center;
	font-size: 1vh;
}

.map {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.sidebar {
    width: 20vw;
    height: 75vh;
    padding: 0vw;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0vw auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    float: left;
}

.title {
    width: 90%;
    height: 3vh;
    padding: 0vw;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    margin: 0vw auto;
    display: flex;
	align-items: flex-start;
    justify-content: left;
	font-size: 2.5vh;
}

.message {
    width: 90%;
    height: 20vh;
    padding: 0vw;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    margin: 0vw auto;
    display: flex;
	align-items: flex-start;
    justify-content: left;
	font-size: 1.5vh;
}

.upload {
	width: 70%;
	height: 5vh;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
	border-radius: 30px;
	background-color: whitesmoke;
	transition-duration: 0.4s;
    margin: 0vw auto;
	font-size: 1vh;
    display: flex;
	align-items: center;
    justify-content: flex-start;
}

.icon {
    width: 100%;
    height: 5vh;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin: 0px auto;
    transition-duration: 0.4s;
    background-color: whitesmoke;
}
.icon:hover{
    background-color: green; 
}

input {
	display: none;
}

.download {
	width: 70%;
	height: 5vh;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
	border-radius: 30px;
    margin: 0vw auto;
	font-size: 1vh;
    display: flex;
	align-items: center;
    justify-content: center;
}

.footer {
	width: 50%;
    height: 5vh;
    padding: 0vw;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    margin: 1% 25%;
    display: flex;
	font-size: 1.3vh;
	align-items: center;
    justify-content: center;
}