<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.7.1/dist/leaflet.css}"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script th:src="@{https://unpkg.com/leaflet@1.7.1/dist/leaflet.js}"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="my-js-file.js" defer></script>
    <title>Geocoding Application</title>
  </head>

  <body>
    <header class ="header">
      <h1> Geocoding Application </h1>
    </header>

    <main class="main">
      <section class="sidebar">
        <h2 class="title"> Tools </h2>

        <article class="message">
          <p> 1. Upload a .csv file following the format below. <br>
              "Street,City,State,zipCode" <br>
              e.g. "2121 Euclid Ave,Cleveland,OH,44115" <br>
              <br>
              2. Once the geocoding process is done you can download
              a .csv file that has the latitude and longitude of the addresses
              that were provided. <br>
              "Street,City,State,zipCode,lat,lng" <br>
              e.g. "2121 Euclid Ave,Cleveland,OH,44115, 41.5027643,-81.67442299999999" <br>
              <br>
              Disclaimer: The app only works for US addresses!

          </p>
        </article>

        <form class="upload" action="/upload" enctype="multipart/form-data" method="post">
          <label for="file_input">
            <img class="icon" th:src="@{/upload.png}"/>
          </label>
          <input id="file_input" type="file" name="file" onchange="form.submit()"/>
          <p style="margin: 0px auto;font-size: 1.5vh;"> Upload .csv file </p> 
        </form>
        
        <article class="result_message">
          <p th:text="${viewMessage}"> Please upload a .csv file! </p>
        </article>
      
        <form th:switch="${viewMessage}=='Please upload a .csv file!'" class="download" action="/upload" method="get">
          <label for="file_output">
            <img class="icon" th:src="@{/download.png}"/>
          </label>
          <input th:case="true" id="file_output" type="button" />
          <input th:case="false" id="file_output" type="submit" />
          <p style="margin: 0px auto;font-size: 1.5vh;"> Download .csv file </p> 
        </form>
      </section>

      <section class="map" id="map">
        <script th:src="@{/create_map.js}"> </script>
        <script th:inline="javascript">
          const mapCoordinates = [[${mapCoordinates}]];
          for (i in mapCoordinates){
          const coordinates = mapCoordinates[i].split(",");
          var x = coordinates[0];
          var y = coordinates[1];
          var marker = L.marker([x,y]).addTo(map);
          }
        </script>
      </section>
    </main>

    <footer class ="footer">
      <div>Icons made by <a href="" title="Kiranshastry">Kiranshastry</a> from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </footer>
  </body>

</html>