<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <script src="my-js-file.js" defer></script>
    <title>Geocoding Application</title>
  </head>

  <body>
    <header class ="header">
      <h1> Geocoding Application </h1>
    </header>

    <main class="main">
      <section class="map-view">
        <h2> Google Maps </h2>
      </section>

      <section class="sidebar">
        <h2> Tools </h2>

        <article class="message">
          <p> Describe how to use the app </p>
        </article>

        <form class="input">
          <input> 
        </form>
        
        <article class="message">
          <p> Display check result of the input file </p>
        </article>

        <form class="output">
          <input> 
        </form>
      </section>

    </main>

    <footer class ="footer">
      <a href="https://www.vecteezy.com/free-vector/engineering-background">Engineering Background Vectors by Vecteezy</a>
    </footer>
  </body>

</html>