<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.7.1/dist/leaflet.css}"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script th:src="@{https://unpkg.com/leaflet@1.7.1/dist/leaflet.js}"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="my-js-file.js" defer></script>
    <title>Geocoding Application</title>
  </head>

  <body>
    <header class ="header">
      <h1> Geocoding Application </h1>
    </header>

    <main class="main">
      <section class="sidebar">
        <h2 class="title"> Tools </h2>

        <article class="message">
          <p> Describe how to use the app </p>
        </article>

        <form class="upload" action="/upload" enctype="multipart/form-data" method="post">
          <label for="file_input">
            <img class="icon" th:src="@{/upload.png}"/>
          </label>
          <input id="file_input" type="file" name="file" onchange="form.submit()"/>
          <p style="margin: 0px auto;font-size: 1.5vh;"> Upload .csv file </p> 
        </form>
        
        <article class="message">
          <p th:text="${viewMessage}"> Display check result of the input file </p>
        </article>

        <form class="download" action="/upload" method="get">
          <label for="file_output">
            <img class="icon" th:src="@{/download.png}"/>
          </label>
          <input id="file_output" type="submit" />
          <p style="margin: 0px auto;font-size: 1.5vh;"> Download .csv file </p> 
        </form>
      </section>

      <section class="map" id="map">
        <script th:src="@{/create_map.js}"> </script>
        <script th:inline="javascript">
          const mapCoordinates = [[${mapCoordinates}]];
          for (i in mapCoordinates){
          const coordinates = mapCoordinates[i].split(",");
          var x = coordinates[0];
          var y = coordinates[1];
          var marker = L.marker([x,y]).addTo(map);
          }
      </script>
      
      </section>
    </main>

    <footer class ="footer">
      <div>Icons made by <a href="" title="Kiranshastry">Kiranshastry</a> from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </footer>
  </body>

</html>